 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>Hello. My name is Tan Nguyen, Junior at University of Tennessee, Knoxville. I am study in Computer Science major with Cyber Security minor. I am planning to take MBA after graduate Bachelor of Computer Science. I am looking for an internship. Please contact me if you are interesting.</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2">
                    <h3 align="center">Programming</h3>
                    <p>I knew about programming when I was in 8th grade. Again,I was admitted into High Schools for the Gifted in Vietnam for a programming department. I was taught a lot of lectures here which will cover in University of US level, but we used Pascal.</p>
                </div>
                <div class="col-lg-4">
                    <h3 align="center">Cyber Security</h3>
                    <p>I began to learn about cyber security at 17 years old through my friends. My experiment in cyber security is better than in programming. At begin, I tried to exploit vulnerability many websites and collect a lot of informations, but not selling them</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3>Entrepreneur</h3>
                    <p>I started operate two business when I was 19 years old. First one is providing cyber security devices for Ministry of Public Security's high-technology department (C50). Another is selling all products in water sports.</p> 
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h3>Resume</h3>
                    <p>You can download my resume by click the button below and more understand about me.</p>
                    <link rel="stylesheet" href="https://drive.google.com/uc?export=download&id=1niH38-HSjKJrm5JsWM3OD3zMeTvg_T2N">
					               <button class="btn"><i class="fa fa-download"></i>Download</button>
                </div>
            </div>
        </div>
    </section>
