<!-- About Section -->
	<section class="success" id="resume">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-center">
                    <h2>Resume</h2>
                    <hr class="star-light">
                </div>
			</div>
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2 text-center">
                    <p>You can download my resume by click the button below and more understand about me.</p>
					<link rel="stylesheet" href="https://drive.google.com/file/d/1UrdYncoULghJ51gjhzsl26ynQvqXsjDa/view?usp=sharing">
					<button class="btn"><i class="fa fa-download"></i> Download</button>
                </div>
			</div>
		</div>
	</section>
